body{
    background: linear-gradient(to right, #141e30, #243b55);
}
h1{
    color: white;
    text-align: center;
    margin-top: 50px;
}
p{
    text-align: center;
    font-family: "Bookman Old Style", serif;
    font-size: 20px;
    color: beige;
}
button{
    display: block;
    height: 100px;
    width: 102px;
    border-radius: 70%;
    margin-left: 45%;
    margin-top: 8%;
}
.boxed{
    display: block;
    margin-top: 5%;
    border: 5px solid black;
    width: 600px;
    height: 500px;
    margin-left: 30%;
    background: white;
}
footer{
    text-align: center;
    color: white;
    font-size: small;
    margin-top: 10%;
}
body {margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050000;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #004886;
}

.texts p{
    float: left;
    color: black;
    font-size: 18px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: auto;
    background-color: azure;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: "Arial Rounded MT Bold", serif;
}
.texts p.sent {
    background-color: aquamarine;
    color: white;
    text-align: right;
    float: right;
}
.container {
    overflow: auto;
    width: 50%;
    margin: 0 auto;
    position: relative;
    height: 260px;
    overflow-y: scroll;
    padding-right: 40.0px;
    padding-left: 20.0px;
    border: 1px solid #0f3c5d;
}
/* Scrollbar styles */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid #70c7be;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #70c7be;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #46c0b4;
}