# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Middlesex University Files\Computer Science Yr 3\CST3140 Novel Interaction Technologies\Coursework 2\VUI Web Based\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
